.head-title {
    display: flex;
    width: 266px;
    margin: 2px 0px 5px 10px;
}

.logo
.appname {
    flex: 1;
}

.appname {
    font-size: 31px;
    font-weight: bolder;
    padding-top: 5px;
    /* padding-left: 0px; */
    font-family: cursive;
}

.logo {
    width: 73px;
    height: 59px;
    /* background-blend-mode: darken; */
    mix-blend-mode: darken;
}

.banners {
    width: 728px;
    height: 250px;
    background-color: #d9d9d9;
    margin-left: 28%;
    margin-top: 35px;
    border-radius: 10px;
}