
.movies-details-container {
  display: flex;
  
  justify-content: space-between;
  margin: 0%;
  padding: 30px;
}

/* Left section for movie details */
.movies-details-left {
  width: 35%;
  margin: auto;
  font-size: 14px !important;
}

/* Movie poster styling */
.movies-poster {
  width: 100%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Right section for movie details */
.movies-details-right {
  font-size: 14px !important;
  width: 55%;
  margin: auto;
  color: black; /* Adjust text color to make it visible */
}

/* Styling for the screen container */
.screen-container {
  display: flex;
  flex-direction: column;
}

/* Styling for individual screens */
.screen {
  margin-bottom: 10px;
  border: 2px solid rgb(230, 229, 229);
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  background-color: rgb(231, 231, 231) !important;
  box-shadow: 2px 5px 5px lightblue !important;
  color: black; /* Adjust text color to make it visible */
}

/* Styling for the show container */
.show-container {
  
  display: flex;
  flex-direction: row; /* Change to row to make shows appear beside screens */
  justify-content: flex-start; /* Adjust as needed */
  align-items: center; /* Align items vertically */
}

/* Styling for individual shows */
.show {
  margin-right: 15px; /* Add margin to separate shows */
  border: 2px solid #060505;
  padding: 6px;
  font-size: medium;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  color: black; /* Adjust text color to make it visible */
}

/* Hover effect for shows */
.show:hover {
  background-color: rgb(196, 195, 195);
}
.movies-details{
  color: black;
}
.title{
  font-weight: bold;
}


