/* .logo-img{
    height: 35px;
} */
.my-nav{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-top: 5px; */
    height: 59px;
    /* width: 1440px; */
    background-color: #D3CFCF;
}
.login-btn{
    text-decoration: none;
    border-radius: 4px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: #FBF103;
    background-color: #E97635;
    font-size: 18px;
}
/* .btn-grp{
    margin-top: 5px;
} */

.btn-grp
.btn-grp-admin
.btn-grp-user {
    width: 149px;
    height: 59px;
}

.btn-grp:hover,
.btn-grp-admin:hover,
.btn-grp-user:hover {
  background-color: darkgray;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 0 30px 0;
}

.btn-grp-admin {
    margin-left: auto;
}

