.Main-heading{
    color: #ba5a10;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.description{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(53, 54, 45);
    text-align: center;
    
}
.flex-btn{
    display: flex;
    justify-content: space-between;
}
button .link{
    text-decoration: none;
}